* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    height: 100vh;
    background: linear-gradient(150deg, #21262a 0%, #202632 100%);
    background-image: url(../img/login-bg-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.hr {
    width: 300px;
    height: 2px;
    background-color: rgb(173, 173, 173);
    margin: 7px;
}

h2 {
    color: rgb(96, 9, 240);
}

.main-container {
    color: rgb(255, 255, 255);
    /* background-color: rgba(255, 255, 255, 0.372); */
    min-height: 100%;
    max-height: fit-content;
}

.pages-container {
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    flex-direction: row;
    padding: 20px;
}

.settings-page,
.combinations-page {
    min-width: 300px;
    min-height: 300px;
    background-color: rgb(235, 229, 237);
    border-radius: 10px;
    box-shadow: 0 30px 50px 10px rgba(0, 0, 0, 0.33);
    padding: 15px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 16px;
    color: black;
    font-weight: bold;
}

#section-1-container, #section-2-container, #section-3-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}


#section-1, #section-2, #section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 395px) {

    .settings-page,
    .combinations-page {
        padding: 15px 15px 15px 15px;
    }
}


.course-input-container,
.break-input-container {
    display: flex;
}

.break-input-container {
    gap: 3px;
    justify-content: center;
    align-items: center;
    color: rgb(61, 61, 61);
}

.added-courses-container,
.added-gaps-container {
    font-size: 18px;
    min-height: 30px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    border-radius: 10px;
}

@media screen and (max-width: 1050px) {
    .added-gaps-container {
        grid-template-columns: auto;
        gap: 15px;
    }
}


.group {
    position: relative;
    /* margin-bottom: 45px; */
    width: fit-content;
}

.group-2 {
    position: relative;
    /* margin-top: 10px; */
    width: fit-content;
}

.input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}

.input-2 {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 75px;
    border: none;
    border-bottom: 1px solid #757575;
}

.input-2:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

/* BOTTOM BARS ================================= */
.bar-2 {
    position: relative;
    display: block;
    width: 75px;
}

.bar-2:before,
.bar-2:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar-2:before {
    left: 50%;
}

.bar-2:after {
    right: 50%;
}

/* active state */
.input-2:focus~.bar-2:before,
.input-2:focus~.bar-2:after {
    width: 50%;
}

/* active state */
.input-2:focus~label,
.input-2:valid~label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 200px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

.custom-btn {
    font-size: 18px;
    width: 100px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* btn-2 */
.btn-2 {
    background: rgb(96, 9, 240);
    background: linear-gradient(0deg, rgba(96, 9, 240, 1) 0%, rgba(129, 5, 240, 1) 100%);
    border: none;

}

.btn-2:before {
    height: 0%;
    width: 2px;
}

.btn-2.btn-2:active {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.course,
.gap {
    font-weight: bold;
    color: white;
    background-color: rgb(106, 212, 132);
    width: fit-content;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.course span {
    max-width: 85px;
    overflow: hidden;
}
.gap span {
    max-width: 200px;
    overflow: hidden;
}

@media screen and (max-width: 1050px) {
    .pages-container {
        flex-direction: column;
        gap: 20px;
    }

    .settings-page,
    .combinations-page {
        min-width: 300px;
        min-height: 300px;
    }
}

/* 5 */
.btn-5 {
    width: 40px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255, 27, 0);
    background: linear-gradient(0deg, rgba(255, 27, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
}

.btn-5:hover {
    color: #f0094a;
    background: transparent;
    box-shadow: none;
}

.btn-5:before,
.btn-5:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #f0094a;
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.btn-5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn-5:hover:before,
.btn-5:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

/* 15 */
.btn-15 {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0;
    background: rgb(96, 9, 240);
    border: none;
    z-index: 1;
}

.btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #663dff;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
}

.btn-15:active {
    top: 2px;
}

/* 11 */
.btn-11 {
    width: 200px;
    border: none;
    background: rgb(109, 251, 33);
    background: linear-gradient(0deg, rgb(113, 196, 11) 0%, rgb(10, 171, 53) 100%);
    color: #fff;
    overflow: hidden;
}

.btn-11:hover {
    text-decoration: none;
    color: #fff;
}

.btn-11:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}

.btn-11:hover {
    opacity: .7;
}

.btn-11:active {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


@-webkit-keyframes shiny-btn1 {
    0% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0;
    }

    80% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0.5;
    }

    81% {
        -webkit-transform: scale(4) rotate(45deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(50) rotate(45deg);
        opacity: 0;
    }
}

/* Drop down */
.dropbtn {
    background-color: #04AA6D;
    border-radius: 5px;
    color: white;
    height: 40px;
    width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    border: none;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content span:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.advanced-setting-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
}

.advanced-setting {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: left;
}

.day-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.day {
    font-size: 12px;
    font-weight: bold;
}

/* Toggle button */
.flip-box {
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: 1px solid #f1f1f1;
    perspective: 50px;
    font-size: 12px;
    font-weight: bold;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.flip-box-front-2,
.flip-box-back-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.flip-box-front {
    background-color: rgb(106, 212, 132);
    color: black;
}

.flip-box-back {
    background-color: #f0094a;
    color: white;
}

.flip-box-front-2 {
    background-color: rgb(106, 212, 178);
    color: black;
}

.flip-box-back-2 {
    background-color: #f09b09;
    color: white;
}

.plus-minus-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    gap: 5px;
    width: 90px;
}

/* Table */

.rwd-table {
    margin: 1em 0;
    min-width: 280px;
    padding: 5px;
}

.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
    max-width: 220px;
}

.rwd-table td:first-child {
    padding-top: .5em;
}

.rwd-table td:last-child {
    padding-bottom: .5em;
}

.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}

@media (min-width: 380px) {
    .rwd-table td:before {
        display: none;
    }
}

.rwd-table th,
.rwd-table td {
    text-align: left;
}

@media (min-width: 380px) {

    .rwd-table th,
    .rwd-table td {
        display: table-cell;
        padding: .25em .5em;
    }

    .rwd-table th:first-child,
    .rwd-table td:first-child {
        padding-left: 0;
    }

    .rwd-table th:last-child,
    .rwd-table td:last-child {
        padding-right: 0;
    }
}

.rwd-table {
    background: #34495E;
    color: #fff;
    border-radius: .4em;
    overflow: hidden;
}

.rwd-table tr {
    border-color: #46637f;
}

.rwd-table th,
.rwd-table td {
    margin: .5em 1em;
}

@media (min-width: 480px) {

    .rwd-table th,
    .rwd-table td {
        padding: 1em !important;
    }
}

.rwd-table th,
.rwd-table td:before {
    color: #dd5;
}

.combination-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}