*{
    cursor: none;
}

.cursor {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
    border-radius: 50%;
    background: transparent;
    pointer-events: none;
    z-index: 111;
    background-color: #ff41e3d2;
    /* transition: all 0.1s ease-out; */
    animation: moveCursor1 1s infinite alternate;
    box-shadow: 0 0 0 15px rgba(255, 0, 179, 0.245);
}

.expand {
    background: transparent;
    animation: moveCursor2 .3s forwards;
    border: 1px solid #ff3d3d;
}

@keyframes moveCursor1 {
    from {
        transform: scale(1);
        background-color: #ff41e3d2;
        box-shadow: 0 0 0 10px rgba(255, 0, 179, 0.245);
    }

    to {
        transform: scale(.8);
        background-color: #9041ffd2;
        box-shadow: 0 0 0 20px rgba(136, 0, 255, 0.245);
    }
}

@keyframes moveCursor2 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}
